body{
    background-image: url(background.jpg);
}
.dealer:hover, .suits:hover, .stacks:hover{
    background-color: rgb(4, 152, 76);
}
.dealer{
    border: 1px solid white;
    width: 80px;
    height: 100px;
    float: left;
}
.suits{
    border: 1px solid white;
    width: 80px;
    height: 100px;
    float: right;
}
.stacks{
    border: 1px solid white;
    width: 80px;
    height: 100px;
    float: left;
    
}
.top, .bottom{
    width: 100%;
}